<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Facebook-->
    <!--<add key="FacebookClientId" value="616310719747068" />
    <add key="FacebookClientSecret" value="8db9cc8ea83ecd45fc8352586733422a" />
   <add key="FacebookAccessTokenUri" value="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;scope={2}&amp;code={3}&amp;client_secret={4}" />
    <add key="FacebookRedirectUri" value="https://localhost:44300/Home/SocialSharing" />
    <add key="FacebookAuthorizeUri" value="https://graph.facebook.com/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;scope={2}" />
    <add key="FacebookScope" value="pages_manage_posts,publish_to_groups,pages_read_engagement,pages_read_user_content" />
    <add key="FacebookPageId" value="107632991703537" />
    <add key="FacebookPageAccessTokenUri" value="https://graph.facebook.com/PageId?fields=access_token&amp;access_token=UserAccessToken" />-->
    <!--Facebook-->

    <!--Facebook Test-->
    <add key="FacebookClientId" value="603992413956190" />
    <add key="FacebookClientSecret" value="3df2846336535a362c0053b0cf4c56b1" />
    <add key="FacebookAccessTokenUri" value="https://graph.facebook.com/oauth/access_token?client_id={0}&amp;redirect_uri={1}&amp;scope={2}&amp;code={3}&amp;client_secret={4}" />
    <add key="FacebookRedirectUri" value="https://localhost:44300/Home/SocialSharing" />
    <add key="FacebookAuthorizeUri" value="https://graph.facebook.com/oauth/authorize?client_id={0}&amp;redirect_uri={1}&amp;scope={2}" />
    <add key="FacebookScope" value="pages_manage_posts,publish_to_groups,pages_read_engagement,pages_read_user_content" />
    <add key="FacebookPageId" value="107632991703537" />
    <add key="FacebookPageAccessTokenUri" value="https://graph.facebook.com/PageId?fields=access_token&amp;access_token=UserAccessToken" />
    <!--Facebook Test-->

    <!--Twitter-->
    <add key="TwitterAPIKey" value="Ws4RAY4qS5bGsXFXtYhfghSWz" />
    <add key="TwitterAPIKeySecret" value="suI9I5D5sX6UwIaP3SeSbkBeQUbAR7X8OBGkX5ft4vVH7nR0Dc" />
    <add key="TwitterBearerToken" value="AAAAAAAAAAAAAAAAAAAAAHx%2BUwEAAAAA%2FOFyZXBVMaLngmnOcZpYzERGF44%3DGuHAtOFYxdQcpVsQYx8uzfswMkEbYBQnzFYCp9HUMEfyYA0t68" />
    <add key="TwitterRedirectUri" value="https://localhost:44300/Home/SocialSharing" />
    <!--Twitter-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>